<div class="container">
    <button class="btn btn-primary" routerLink="">Back</button>
    <h2>Edit User</h2>
    <form [formGroup]='editUser' (ngSubmit)="updateUser()">
        <div class="form-group">
            <label>Full Name</label>
            <input type="email" class="form-control" name="name" aria-describedby="emailHelp" formControlName="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" formControlName="password">
        </div>
        <button type="button" class="btn btn-primary" (click)="updateUser()">Update</button>
    </form>
    <router-outlet></router-outlet>
</div>